body{
    background-color: aquamarine;
    text-align: center;
}
button {
    background-color: rgb(54, 160, 70);
}
ul{
    list-style: none;
}
.sd{
background-color: aliceblue;
border-radius: 20px;

}